html {
  scroll-behavior: smooth;
}

body {
  background-color: cornsilk;
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornsilk;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 50;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu ul li {
  padding: 10px;
  gap: 10px;
  text-align: center;
}
.menu ul li :hover{
  background-color:antiquewhite;
  padding: 10px;
  border-radius: 1rem;
  border-color: bisque;
}

.quitar-scroll {
  overflow: hidden;
}
button {
  background: transparent;
  border: 0;
}
.iconocerrar {
  color: black;
}
.carrito-home {
  height: 100vh;
  background-color: cornsilk;
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
  margin-right: 0;
}
.infovacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy {
  background-color: green;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 20px;
}

.search-home {
  background-color: bisque;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  border-radius: 5px;
}
input {
  border-radius: 5px;
  width: 50%;
  height: 30px;
  text-justify: auto;
  border-color: bisque;
}
.search-header{
  padding: 1 rem;
  display: flex;
  align-items: center;
}
.storage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.storage .productcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  max-width: 24rem;
}
.storage .productcontainer img{
  width:70px ;
  height: 70px;
  object-fit: cover;
  text-wrap: pretty;
  padding-left: 20px;
  border-radius: 2rem;
  padding-right: 20px;
  gap: 20px;
}
.storage .productcontainer p{
  font-size: 0.7rem;
}
.storage .productcontainer h3{
  font-size: 0.9rem;
}
.storage .productcontainer button{
background-color: red;
font-weight: 600;
padding-left: 0.7rem;
padding-right: 0.7rem;
color: white;
border-radius: 2rem;

&:hover{
  opacity: 0.9;
}
}
.products {

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}
.inputsearchheader{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.iconocerrarsearch{
  color: grey;
}
.boxproductsearch{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.boxproductsearch p {
  text-wrap: pretty;
}
.boxproductsearch img{
 width:190px ;
  height: 200px;
  object-fit: cover;
  text-wrap: pretty;
  padding-left: 20px;
  border-radius: 2rem;
  padding-right: 20px;
  gap: 20px;

}


a {
  color: black;
  text-decoration: none;
}
figure {
  margin: 0;
}
.platos{
  display: grid;
  grid-template-columns: 50% 50%;
  gap:10px;
  padding-top: 1rem;
}

.platos .boxproductcart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.platos .boxproductcart img {
  width: 200px;
  object-fit: contain;

}

.platos .boxproductcart p {
  text-wrap:  pretty;
  font-size: 0.9rem;

}

.portada {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-weight: bolder;
  text-align: left;
}

h5 {
  text-align: center;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bolder;
  gap: 30px;
}
.btn {
  font-weight: bolder;
  background-image: linear-gradient(
    91deg,
    rgba(72, 154, 78, 1) 5.2%,
    rgba(251, 206, 70, 1) 95.9%
  );
  border-radius: 5px;
}

.boxes2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.boxes3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boxes4 {
  gap: 20px;
  align-items: center;
}

/*-------------------------------------------------------------*/
.boxes1 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  margin: 20px;

}

.boxes-2 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
 
.section-img-animation {
  width: 400px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  display: flex;
  margin: auto;
}

.img-animation {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 5s ease;
  border-radius: 10px;
}
.section-img-animation .img-animation:hover {
  cursor: cell;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
div logo {
  justify-content: right;
}

/*-------------------------------------------------------------*/
@media (max-width: 600px) {

  .menu{
    flex-direction: column;
  }

  .boxes{
    flex-direction: column;
  }
  .boxes2{
  flex-direction: column;
}
.boxes3{
  flex-direction: column;
}
.boxes4{
  flex-direction: column;
}
}

