<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../styles/menu.css">
    <title>Document</title>
</head>
<body>
     <nav>
 <a href="../../index.html"> <img src="IMG MENU/LOGOANNATTO.png"  height="70px"></a>
  <ul>
        <li>
          <a href="../../index.html"> HOME </a>
        </li>
        <li>
          <a href="./src/views/menu.html"> MENÚ PRINCIPAL </a>
        </li>
        <li>
          <a href="#"> BEBIDAS Y POSTRES </a>
        </li>
        <li>
          <a href="./tienda.html"> TIENDA FIT </a>
        </li>
      </ul>
<div>
    <img src="IMG MENU/busqueda.png"height="50px">
   <button class="carrito">
    <img src="IMG MENU/CARRITO.png"height="50px">
  </button> 
</div>
    </nav>
<hr>
<dialog id="carrito" class="carrito-home">
      <button class="cerrarcarrito" autofocus>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-circle-x iconocerrar"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
      </button>
      <h2>TU CARRITO ESTA VACÍO</h2>
      <p>Agrega tu platillo favorito para hacer tu compra</p>
     <img src="IMG MENU/CARRITO.png" width="200px">
      <button class="buy">Comenzar a comprar</button>
    </dialog>

<h1>PLATOS PRINCIPALES</h1>
<hr>
<div class="galeria">

</div>
<div class="boxes2">
    <h1>CARNE DE RES</h1>
 <div class="box7">
        <h3>BEEF FAJITAS</h3>
        <img src="IMG MENU/fajitas.jpg" width="250px">
        <p>Fajitas de carne con vegetales.</p>
        <h4>$25.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box8">
        <h3>BEEF LOIN</h3>
        <img src="IMG MENU/carne2.jpg" width="250px">
        <p>Carne de res en salsa cítrica.</p>
        <h4>$30.000</h4>
        <button class="btn">Comprar</button>
    </div>
<div class="box9">
        <h3>FILET MIGNON</h3>
        <img src="IMG MENU/Filet mignon.jpg" width="250px">
        <p>Filet mignon con salsa de ajo y romero.</p>
        <h4>$30.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>
<div class="boxes2">
    <h1>LOMO DE CERDO</h1>
 <div class="box10">
        <h3>GLAZED PORK LOIN</h3>
        <img src="IMG MENU/cerdoglas.jpg" width="250px">
        <p>Lomito de cerdo en salsa citrica.</p>
        <h4>$25.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box11">
        <h3>ROASTED PORK LOIN</h3>
        <img src="IMG MENU/lomorost.jpg" width="250px">
        <p>Lomo de cerdo rostizado</p>
        <h4>$28.000</h4>
        <button class="btn">Comprar</button>
    </div>
<div class="box12">
        <h3>STUFFED PORK LOIN</h3>
        <img src="IMG MENU/LOMO RELLENO.jpg" width="250px">
        <p>Lomo de cerdo relleno con champiñones</p>
        <h4>$30.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>
<div class="boxes2">
    <h1>FILETE DE POLLO</h1>
 <div class="box13">
        <h3>BREADED CHICKEN </h3>
        <img src="IMG MENU/Filete apanado.jpg" width="250px">
        <p>Filete de pollo apanado al horno.</p>
        <h4>$20.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box14">
        <h3>GRILLED CHICKEN FILLET</h3>
        <img src="IMG MENU/FILETE POLLO.jpg" width="250px">
        <p>Filete de pollo al grill en salsa de manzana</p>
        <h4>$25.000</h4> 
        <button class="btn">Comprar</button>
    </div>
<div class="box15">
        <h3>SAUCE CHICKEN FILLET</h3>
        <img src="IMG MENU/pollo teriyaki.jpg" width="250px">
        <p>Lomo de pollo en salsa Teriyaki</p>
        <h4>$22.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>
<div class="boxes2">
    <h1>FILETE DE PAVO</h1>
 <div class="box16">
        <h3>TURKEY CARPACCIO </h3>
        <img src="IMG MENU/CARPACCIO DE PAVO.JPEG" width="250px">
        <p>Filete de pollo apanado al horno.</p>
        <h4>$20.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box17">
        <h3>GRILLED TURKEY FILLET</h3>
        <img src="IMG MENU/FILETE PAVOjpg.jpg" width="250px">
        <p>Filete de pollo al grill en salsa de manzana</p>
        <h4>$30.000</h4> 
        <button class="btn">Comprar</button>
    </div>
<div class="box18">
        <h3>STUFFED TURKEY</h3>
        <img src="IMG MENU/pavo relleno.jpg" width="250px">
        <p>Pavo Relleno con frutos secos</p>
        <h4>$35.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>
<div class="boxes2">
    <h1>SUSHI KETO</h1>
 <div class="box19">
        <h3>AKITA ROLL </h3>
        <img src="IMG MENU/583-akita_roll.jpg" width="250px">
        <p>Camarón,salmón,queso crema.</p>
        <h4>$25.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box20">
        <h3>TUNA ROLL</h3>
        <img src="IMG MENU/tuna-ebi-japon-ya.jpg" width="250px">
        <p>Atún,camarón,queso crema.</p>
        <h4>$30.000</h4> 
        <button class="btn">Comprar</button>
    </div>
<div class="box21">
        <h3>SNOOK ROLL</h3>
        <img src="IMG MENU/sushi-robalo.jpg" width="250px">
        <p>Róbalo,queso crema y palta/p>
        <h4>$35.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>
<div class="boxes2">
    <h1>PESCADOS</h1>
 <div class="box22">
        <h3>ROASTED SALMON </h3>
        <img src="IMG MENU/salmón2.png" width="250px">
        <p>Salmón asado con vegetales.</p>
        <h4>$25.000</h4>
        <button class="btn">Comprar</button>
    </div>
  <div class="box23">
        <h3>ROASTED BASS</h3>
        <img src="IMG MENU/robalo-a-la-plancha.jpg" width="250px">
        <p>Róbalo asado con vegetales.</p>
        <h4>$30.000</h4> 
        <button class="btn">Comprar</button>
    </div>
<div class="box24">
        <h3>ROASTED TROUT</h3>
        <img src="IMG MENU/trucha.jpg" width="250px">
        <p>Trucha con salsa de mango.</p>
        <h4>$35.000</h4>
        <button class="btn">Comprar</button>
</div>
</div>

<h2>Síguenos</h2>
<div class="boxes2"></div>
 <a href="https://www.facebook.com/"><img src="IMG MENU/facebook.png" height="30px" /></a>
   <a href="https://www.instagram.com/"> <img src="IMG MENU/instagram.png" height="30px" /></a>
    <a href="https://x.com/?lang=es"><img src="IMG MENU/gorjeo.png" height="30px" /></a>
<hr class="hrf"> 
<h5>Todos los derechos reservados</h5>
<script src="../scripts/menu.js"> </script>
</body>
</html>